* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    background: #27c2b7;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
    color:purple;
    font-size: 20px;
  }
  
  img {
    width: 100%;
  }
  
  img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: purple solid 4px;  
  }
  
  h1 {
    font-size: 32px;
    color: purple;
    margin-top: 24px;
    margin-bottom: 8px;
   }
  
  .username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: purple;
    opacity: 0.8;
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    margin: 48px 0;
  }
  
  ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(121, 24, 121); /* hex: 0 - F */
    color: white;
    text-transform: uppercase;
    font-size: 14px;
  
    margin-bottom: 16px;
    border-radius: 6px; 
    transition: background 400ms;
  }
  
  /* pseudo-class */
  ul li a:hover {
    background: purple;  
  }
  
  footer {
    font-weight: 500;
    font-size: 12px;
    color: purple;
    opacity: 0.6;
    transition: opacity 400ms;
  }
  
  footer:hover {
    opacity: 1;
  }
  
  footer a {
    color: purple;
  }